#PaymentDetails { padding: 10px 0; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; }
#PaymentDetails p { margin: 0; }
#NextBilling { float: right; color: #666; line-height: 24px; }
#CreditCard { font-weight: bold; font-size: 13px;
	background: url(../images/credit-card-24.png) no-repeat;
	padding-left: 30px; line-height: 24px; }
#CreditCardDetails dt { font-weight: bold; }
#CreditCardDetails dd { margin-bottom: 5px; }
#Products { margin-top: 10px; }
#Products td { vertical-align: middle; }
#Products td.name { font-weight: bold; font-size: 16px; text-shadow: 0 0 5px #CCC; }
#Products a.button { padding: 5px; background: #F4F4F4; border: 1px solid #CCC;
	font-weight: bold; border-radius: 3px; color: #333; text-decoration: none; }
#Products a.button:hover { background: #CCC; }