#PaymentDetails { padding: 10px 0; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; }
#PaymentDetails p { margin: 0; }
#NextBilling { float: right; color: #666; line-height: 24px; }
#CreditCard { font-weight: bold; font-size: 13px;
	background: url(../images/credit-card-24.png) no-repeat;
	padding-left: 30px; line-height: 24px; }
#CreditCardDetails dt { font-weight: bold; }
#CreditCardDetails dd { margin-bottom: 5px; }
#Products { margin: 10px 0; }
#Products td { vertical-align: middle; }
#Products td.name { font-weight: bold; font-size: 16px; text-shadow: 0 0 5px #CCC; }
#Products a.button { padding: 5px; background: #F4F4F4; border: 1px solid #CCC;
	font-weight: bold; border-radius: 3px; color: #333; text-decoration: none; }
#Products a.button:hover { background: #CCC; }
#CancelSubscription a.cancel { padding: 5px; font-weight: bold; border-radius: 3px;
	text-decoration: none; background: #FED0D0; border: 1px solid #FF7373; color: #DC1313;
	margin-right: 10px; }
#CancelSubscription a.cancel:hover { background: #FF7373; color: #FFF; }
p.cancelLink { display: none; }
p.cancelLink strong { margin-right: 10px; }
#ReactivateSubscription { font-size: 14px; padding: 5px; margin: 10px 0 0 0; font-weight: bold; }