a.chargify-button { font-weight: bold; text-decoration: none; padding: 5px; }
a.chargify-button.ui-state-error.ui-state-hover { background: #CD0A0A; color: #FFF; }
p.chargify-note { font-size: 13px; padding: 5px; margin: 10px 0 0 0; font-weight: bold; }

#chargify-billing-details { padding: 10px 0; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; }
#chargify-billing-details p { margin: 0; line-height: 24px; }
#chargify-next-billing { float: right; color: 666; }
#chargify-credit-card { font-weight: bold; font-size: 13px; padding-left: 30px; background: url(../images/credit-card-24.png) no-repeat; }
#chargify-credit-card-details dt { font-weight: bold; }
#chargify-credit-card-details dd { margin-bottom: 5px; }

#chargify-products { margin: 10px 0; }
#chargify-products td { vertical-align: middle; }
#chargify-products td.chargify-products-name { font-weight: bold; font-size: 15px; }

#chargify-do-cancel { display: none; }
#chargify-do-cancel strong { margin-right: 10px; }
#chargify-do-cancel-link { margin-right: 5px; }